
body{
	margin: 0;
	padding: 0;
	background: #121116 url(starry-night-1.gif) repeat;
}

body, button, textarea, input{
	font-family: Arial, Helvetica, sans-serif;
}

header img{
	width: 100%;
}

footer{
	color: gray;
	font-size: 7pt;
	text-align: center;
	margin: 15px 0;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}

button{
	background: darkslateblue;
	color: white;
	border: 0 solid;
	padding: 10px 15px;
}

input[type="text"]{
	padding: 0.5em 0.8em;
}

div.toast{
	background: darkolivegreen;
	color: white;
	position: fixed;
	padding: 15px;
	width: 70%;
}

.button-area{
	margin: 10px;
	text-align: center;
}

.role{
	background: url(roles.jpg) no-repeat;
	width: 84px;
	height: 114px;
	border-radius: 5px;
}

.role.background{
	background: gray;
}

.role.doppelganger{
	background-position: 0 0;
}

.role.werewolf{
	background-position: -85px 0;
}

.role.minion{
	background-position: -171px 0;
}

.role.robber{
	background-position: -255px 0;
}

.role.mason{
	background-position: 0 -116px;
}

.role.seer{
	background-position: -85px -116px;
}

.role.troublemaker{
	background-position: -170px -116px;
}

.role.drunk{
	background-position: -255px -116px;
}

.role.insomniac{
	background-position: 0 -232px;
}

.role.hunter{
	background-position: -85px -232px;
}

.role.villager{
	background-position: -170px -232px;
}

.role.tanner{
	background-position: -255px -232px;
}

.box{
	margin: 10px 20px;
	color: #ddd;
	font-size: 11pt;
}

.box h3{
	color: white;
	font-size: 14pt;
	margin: 0 0 10px 0;
}

form.toast{
	text-align: center;
	margin: 20px;
}

form.toast input[type="text"]{
	width: 50%;
	margin: 5px 0;
}

.role-selector li{
	display: inline-block;
	margin: 2.5px 5px;
}

.role-selector li.disabled{
	filter: grayscale(100%);
	opacity: 0.5;
}

.role-selector li.selected div{
	box-shadow: skyblue 0 0 6px 2px;
}

ul.role-list li{
	display: inline-block;
	margin: 10px;
}

ul.player-list li{
	display: inline-block;
	margin: 10px;
	width: 30%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: darkslategrey;
}

ul.player-list li.selected{
	background: white;
	color: black;
}

#root{
	position: relative;
}

#root > .message{
	padding: 80px 10px;
	font-size: 12pt;
	color: lightgray;
	text-align: center;
}

#root > .infomation-box{
    color: white;
    position: absolute;
    top: 20px;
	right: 20px;
	max-width: 55%;
}

#root > .infomation-box #current-role{
	width: 8.5em;
	display: block;
}
