
body{
	margin: 0;
	padding: 0;
	background: #121116 url(starry-night-1.gif) repeat;
}

body, button, textarea, input{
	font-family: Arial, Helvetica, sans-serif;
}

header img{
	width: 100%;
}

footer{
	color: gray;
	font-size: 7pt;
	text-align: center;
	margin: 50px 0 15px 0;
}

footer ul.dev-info{
	margin: 5px 10px;
	text-transform: uppercase;
}

footer ul.dev-info > li{
	display: inline;
	padding: 0 1.2em;
}

footer ul.dev-info > li:not(:last-child){
	border-right: white 1px solid;
}

footer ul.dev-info > li a{
	font-size: 8pt;
	color: white;
	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}

button{
	background: darkslateblue;
	color: white;
	border: 0 solid;
	padding: 0.5em 0.8em;
	box-sizing: content-box;
	border-radius: 0;
}

input[type="text"],
input[type="number"]{
	border: 0 solid;
	padding: 0.5em 0.8em;
	box-sizing: content-box;
	border-radius: 0;
}

div.toast{
	background: darkolivegreen;
	color: white;
	position: fixed;
	padding: 15px;
	width: 70%;
}

.button-area{
	margin: 10px;
	text-align: center;
}

.button-area button{
	font-size: 15pt;
	line-height: 1.4em;
	margin: 10px;
	min-width: 6.5em;
	overflow: hidden;
}

.role{
	width: 82px;
	height: 90px;
	border-radius: 7px;
	display: inline-block;
	color: white;
	background-size: auto 118px;
	background-position: -1px -1px;
}

.role.background{
	background: gray url(header.jpg) no-repeat;
	background-position: center;
	background-size: 220px;
	padding: 5px;
	box-sizing: border-box;
	border: 5px white solid;
	overflow: hidden;
	text-align: center;
}

.role.background::before {
	content: 'UNKOWN';
	font-size: 9pt;
	color: white;
	line-height: 45px;
	text-shadow: black 0 0 4px;
}

.box{
	margin: 10px 12px;
	color: #ddd;
	font-size: 11pt;
}

.box h3{
	color: white;
	font-size: 14pt;
	margin: 0 0 10px 0;
}

.form-dialog{
	text-align: center;
	margin: 20px;
}

.form-dialog input[type="text"],
.form-dialog input[type="number"]{
	width: 50%;
	margin: 15px 0;
	font-size: 16pt;
	line-height: 1.2em;
}

.form-dialog button{
	display: block;
	margin: 20px auto;
	width: 50%;
	font-size: 16pt;
	line-height: 1.2em;
}

.role-selector li{
	display: inline-block;
	margin: 5px 7px;
	opacity: 0.75;
}

.role-selector li.disabled{
	filter: grayscale(100%);
	opacity: 0.5;
}

.role-selector li.selected{
	opacity: 1;
}

.role-selector li.selected div{
	box-shadow: skyblue 0 0 6px 2px;
}

ul.role-list li{
	display: inline-block;
	margin: 5px 7px;
}

ul#extra-card-list li.selected div{
	box-shadow: skyblue 0 0 6px 2px;
}

ul.player-list li{
	display: inline-block;
	margin: 10px;
	width: 105px;
	padding: 10px 0;
	line-height: 1.5em;
	text-align: center;
	background: darkslategrey;
}

ul.player-list li > .nickname{
	width: 90%;
	margin: auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

ul.player-list li > .role-text{
	font-size: 8.5pt;
}

ul.player-list li.selected{
	background: white;
	color: black;
}

#root{
	position: relative;
}

.infomation-box{
	color: white;
}

#root > .infomation-box{
	top: 0;
	right: 20px;
	width: 48%;
	position: absolute;
}

.infomation-box #current-role{
	float: left;
	margin-right: 8px;
}

#room-id{
	font-weight: bold;
	text-shadow: skyblue 0 0 3px;
	font-size: 13pt;
	margin: 0 0.5em;
}

.message-box{
	margin: 15px 0;
	color: lightgray;
}

.inline-message{
	height: 1.5em;
	line-height: 1.5em;
	color: lightgray;
	margin: 5px 10px;
	text-align: center;
}

.space-line{
	height: 20px;
}

#confirm-button-area > button{
	display: none;
}

#confirm-button-area > .inline-message{
	display: block;
}

#confirm-button-area.enabled > button{
	display: inline-block;
}

#confirm-button-area.enabled > .inline-message{
	display: none;
}
