{template header}

<style>
@import url(extension/module/room/view/style/main.css);
</style>

<div class="box">
	<h3>Roles</h3>
	<ul class="role-list">
		<!--{loop $room['roles'] $role}-->
		<li><div class="role $role"></div></li>
		<!--{/loop}-->
	</ul>
</div>

<div class="box">
	<h3>Players ({echo count($players)})</h3>
	<!--{if $players}-->
		<ul id="player-list" class="player-list">
			<!--{loop $players $p}-->
			<li>$p[nickname]</li>
			<!--{/loop}-->
		</ul>
	<!--{else}-->
	There are no players yet. Please share the webpage with your friends.
	<!--{/if}-->
</div>

<!--{if !$user}-->
	<!--{if count($players) < count($room['roles'])}-->
	<div class="box">
		<form action="index.php?mod=room:join" class="toast">
				<input type="text" name="nickname" placeholder="Type your nickname here...">
				<input type="hidden" name="room_id" value="$room[id]">
				<div class="button-area">
					<button type="submit">JOIN</button>
				</div>
		</form>
	</div>
	<!--{/if}-->
<!--{else}-->
<div class="box">
		<form action="index.php?mod=room:updatenickname" class="toast">
				<input type="text" name="nickname" value="$user[nickname]" placeholder="Type your nickname here...">
				<div class="button-area">
					<button type="submit">RENAME</button>
				</div>
		</form>
	</div>
<!--{/if}-->

<script>
setInterval(function(){
	$.get('index.php?mod=room:getplayers&id=$room[id]', {}, function(players){
		var player_list = $('#player-list');
		player_list.html('');
		for (let player of players) {
			let li = $('<li></li>');
			li.text(player.nickname);
			player_list.append(li);
		}
	}, 'json');
}, 1000);
</script>

{template footer}
